* {
    font-family: 'Fraunces', serif, 'Jomhuria', cursive;
}

body {
    background-color: hsl(30, 38%, 92%);
    
}

.continer {
    width: 550px;
    margin: 200px auto;
    background-color: white;
    height: 400px;
    border-radius: 10px;
}

    .continer .photo,
    .continer .details {
        width: 50%;
        float: left;
        overflow: hidden;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
        .continer .photo > img {
            width: 100%;
            height: 100%
        }
        .continer .details .head {
            color: hsl(228, 12%, 48%);
            letter-spacing: 5px;
            padding-left: 20px;
            padding-top: 20px;
            font-family: 'Montserrat', sans-serif;
        }

        .continer .details h1 {
            padding-left: 20px;
            font-weight: 700;
        }
        .continer .details p {
            padding-left: 20px;
            color: hsl(228, 12%, 48%);
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }
        .continer .details .price {
            padding-left: 20px;
            margin: 20px auto;
        }

        .continer .details .price #one {
            font-size: 35px;
            color:hsl(158, 36%, 37%);


        }

            .continer .details .price #two {
                position: relative;
                padding-left: 10px;
                font-size: 14px;
                bottom: 10px;
                font-family: 'Montserrat', sans-serif;
            }
                .continer .details .price #two del {
                    font-family: 'Montserrat', sans-serif;
                    color: hsl(228, 12%, 48%);
                }

                .continer .details .btn {
                    padding-left: 20px;
                }

            .continer .details .btn button {
                background: hsl(158, 36%, 37%);
                width: 240px;
                height: 45px;
                margin: 12px auto;
                color: white;
                border-radius: 8px;
                font-size: 15px;
                padding-left: 50px;
                font-family: 'Montserrat', sans-serif;
                border: none;
            }
                .continer .details .btn button #cart {
                    position: relative;
                    right: 112px;
                    top: 1px;
                }



/*Mobile*/

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .continer .photo {
        float: none;
        overflow: hidden;
        height: 300px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

        .continer .photo > img {
            object-fit: cover;
        }

    .continer {
        width: 375px;
        height: 100%;
        background-color: white;
        margin: 10px auto;
    }



        .continer .details {
            padding-left: 40px
        }

        .continer .details {
            float: none;
            overflow: hidden;
            height: 400px;
            width: 100%;
            padding-left: 20px;
        }

            .continer .details .btn button {
                width: 300px;
            }
}